
.null {  }

body,text,TD { font-family: Verdana, Arial, Helvetica, Sans-Serif; font-size: 11px; color: #000000 }


.tablesm {
	color: #000;
	font-style: normal;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.tablesm a:link, .tablesm a:visited {
	color: #000;
}

.tablesm a:hover {
	color: #FF0000;
}	

.status {  font-size: 10px; color: #cc3300; font-family: Verdana, Arial, Sans-Serif, Geneva; text-decoration: none }
A.status:link {  color: #000000 }
A.status:visited {  color: #999999 }
A.status:hover {  color: #cc3300 }


.footer {  font-size: 10px; color: #000000; font-family: Verdana, Arial, Sans-Serif, Geneva; text-decoration: none }
A.footer:link {  color: #000000 }
A.footer:visited {  color: #000000 }
A.footer:hover {  color: #cc3300 }

.header1 { font-family: Arial, Helvetica, Sans-Serif; font-size: 17px; color: #154772; font-weight: bold; text-decoration: none }
A.header1:link { color: #154772 }
A.header1:visited { color: #154772 }
A.header1:hover { color: #154772 }

.header2 { font-family: Arial, Helvetica, Sans-Serif; font-size: 17px; color: #828282; font-weight: bold; text-decoration: none }
A.header2:link { color: #828282 }
A.header2:visited { color: #828282 }
A.header2:hover { color: #828282 }

.title { font-family: Verdana, Arial, Helvetica, Sans-Serif; font-size: 12px; color: #52799A; font-weight: bold; text-decoration: none }
A.title:link { color: #52799A }
A.title:visited { color: #52799A }
A.title:hover { color: #40A7FF }

.subnav { font-family: Verdana, Arial, Helvetica, Sans-Serif; font-size: 10px; color: #ffffff; text-decoration: none }
A.subnav:link { color: #ffffff }
A.subnav:visited { color: #ffffff }
A.subnav:hover { color: #c7f2fc }


.form1 { font-family: Verdana, Arial, Helvetica, Sans-Serif; font-size: 10px; color: #000000; text-decoration: none }
.error1 { font-family: Verdana, Arial, Helvetica, Sans-Serif; font-size: 10px; color: #ff0000; font-weight: bold; text-decoration: none }
.success { font-family: Verdana, Arial, Helvetica, Sans-Serif; font-size: 10px; color: #009933; font-weight: bold; text-decoration: none }

TABLE.data
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    MARGIN-TOP: 3px;
    BORDER-LEFT: 1px solid;
    WIDTH: 98%;
    BORDER-BOTTOM: 1px solid
}
.TableHeader
{
    PADDING-LEFT: 3px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT-COLOR: #bebfa0;
    COLOR: #000000;
    BORDER-TOP-COLOR: #bebfa0;
    BORDER-BOTTOM: 1px solid;
    FONT-FAMILY: verdana,,Arial, Helvetica, Sans Serif;
    BACKGROUND-COLOR:"#60829F";
    BORDER-RIGHT-COLOR: #bebfa0
}
TD
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Sans Serif
}
.link A
{
    FONT-WEIGHT: normal;
    COLOR: #000000;
    TEXT-DECORATION: none
}
.link A:hover
{
    FONT-WEIGHT: normal;
    COLOR: #000000;
    TEXT-DECORATION: none
}
.link A:visited
{
    FONT-WEIGHT: normal;
    COLOR: #000000;
    TEXT-DECORATION: none
}
.link A:active
{
    FONT-WEIGHT: normal;
    COLOR: #000000;
    TEXT-DECORATION: none
}
SELECT
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Sans Serif
}
INPUT
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Sans Serif;
    margin-top: 0px;
}
.RequiredField
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: red;
    FONT-FAMILY: Arial, Helvetica, Sans Serif
}
.smallfont
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial
}
.button
{
    border: 1px solid #000000;
    MARGIN-TOP: 3px;
        FONT-WEIGHT: normal;
        FONT-SIZE: 8pt;
        MARGIN-BOTTOM: 3px;
        WIDTH: 150px;
        CURSOR: hand;
        COLOR: #000000
    MARGIN-RIGHT: 3px;
        FONT-FAMILY: Arial, Helvetica, Sans Serif;
        BACKGROUND-COLOR:#D9D9D9;
    height: 20px;
}
.SmallFontInfo
{
    FONT-WEIGHT: normal;
    FONT-SIZE: smaller;
    COLOR: red;
    FONT-FAMILY: Arial, Helvetica, Sans Serif
}
TR.DataGrid_SelectedItemStyle
{
    FONT-WEIGHT: bold;
    COLOR: navy;
    BACKGROUND-COLOR: #9cf
}
TR.DataGrid_ItemStyle
{
    BACKGROUND-COLOR: white
}
TR.DataGrid_HeaderStyle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: medium;
    LINE-HEIGHT: normal;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #e9e5bc
}
TR.DataGrid_HeaderStyle A
{
    TEXT-DECORATION: underline
}
TR.DataGrid_HeaderStyle A:visited
{
    TEXT-DECORATION: underline
}
TR.DataGrid_HeaderStyle A:hover
{
    COLOR: #9cf;
    TEXT-DECORATION: none
}
TR.DataGrid_FooterStyle
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: #9cf
}
TR.DataGrid_PagerStyle
{
    FONT-WEIGHT: bold;
    COLOR: white;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #ccc;
    TEXT-ALIGN: center
}
.CustomPaging
{
    FONT-WEIGHT: bold;
    FONT-FAMILY: Verdana;
    TEXT-ALIGN: center
}
.ContextHelp
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    COLOR: green;
    FONT-FAMILY: Arial, Helvetica, Sans Serif
}
.AlternateRow
{
    BACKGROUND-COLOR: #efefef
}

/*
Whitfield horizontal drop down css
last update: 01/11/2010
*/

.highslide-html { BACKGROUND-COLOR: #d1dbde }
	.highslide-html-blur { }
	.highslide-html-content { DISPLAY: none; POSITION: absolute }
	.highslide-loading { BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 2px; BACKGROUND-POSITION: 3px 1px; BORDER-TOP: black 1px solid; DISPLAY: block; PADDING-LEFT: 22px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND-IMAGE: url(/highslide/graphics/loader.white.gif); PADDING-BOTTOM: 2px; BORDER-LEFT: black 1px solid; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: black 1px solid; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: sans-serif; BACKGROUND-COLOR: white; TEXT-DECORATION: none }
	A.highslide-credits { PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; COLOR: silver; PADDING-TOP: 2px; TEXT-DECORATION: none }
	A.highslide-credits I { PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; COLOR: silver; PADDING-TOP: 2px; TEXT-DECORATION: none }
	A.highslide-credits:hover { COLOR: white; BACKGROUND-COLOR: gray }
	A.highslide-credits:hover I { COLOR: white; BACKGROUND-COLOR: gray }
	.highslide-wrapper { BACKGROUND-COLOR: white }
	.highslide-wrapper .highslide-html-content { PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; WIDTH: 550px; PADDING-TOP: 5px }
	.highslide-wrapper .highslide-header DIV { }
	.highslide-wrapper .highslide-header UL { PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: right }
	.highslide-wrapper .highslide-header UL LI { DISPLAY: inline; PADDING-LEFT: 1em }
	.highslide-wrapper .highslide-header UL LI.highslide-previous { DISPLAY: none }
	.highslide-wrapper .highslide-header UL LI.highslide-next { DISPLAY: none }
	.highslide-wrapper .highslide-header A { FONT-WEIGHT: bold; TEXT-TRANSFORM: uppercase; COLOR: gray; TEXT-DECORATION: none }
	.highslide-wrapper .highslide-header A:hover { COLOR: black }
	.highslide-wrapper .highslide-header { CURSOR: move }
	.highslide-wrapper .highslide-footer { HEIGHT: 11px }
	.highslide-wrapper .highslide-footer .highslide-resize { BACKGROUND: url(/highslide/graphics/resize.gif); FLOAT: right; WIDTH: 11px; HEIGHT: 11px }
	.highslide-wrapper .highslide-body { }
	.highslide-move { }
	.highslide-resize { CURSOR: nw-resize }
	.highslide-display-block { DISPLAY: block }
	.highslide-display-none { DISPLAY: none }

